header{
    height: 54px;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}
.header1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 137px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 108px;
    height: 23px;
    object-fit: contain;
}
.header1 a{
    margin-top: 5px;
    text-decoration: none;
    margin-left: 20px;
    color:black;
    font-size: 14px;
    transition: .4s;
}
.header1 a:hover{
    text-decoration: underline;
    
}
.header2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header2 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: .4s;
}
.header2 a:hover{
    text-decoration: underline;
}
.arrow{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow img{
    width: 100%;
    height: 100%;
}
.glyph ,.search{
    margin-left: 15px;
}
.glyph{
    width: 30px;
    height: 30px;
    border: solid 1px black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
